

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 500ms ease;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
main{
  padding: 200px 95px 0 95px;
}
@media (max-width:768px) {
  main{
    padding: 150px 40px 0 40px;
  } 
}
